<div class="checkbox-item">

      <span>{{item.title}}</span>
      <button
        data-title="{{item.title}}"
        data-category="{{item.category}}"
        data-status="{{item.status}}"
        data-description="{{item.description}}"
        data-date="{{item.due_date}}"
        data-state="{{item.state}}"
        data-id="{{item.id}}"
        data-location="{{item.location}}"
        class="btn-btn-default inline display-details-button"
        type="button">
          Details
      </button>
      <button
        data-title="{{item.title}}"
        data-category="{{item.category}}"
        data-status="{{item.status}}"
        data-description="{{item.description}}"
        data-date="{{item.due_date}}"
        data-state="{{item.state}}"
        data-id="{{item.id}}"
        data-location="{{item.location}}"
        class="btn-btn-default inline edit-button"
        type="button">
          Edit
      </button>
      <button
        data-title="{{item.title}}"
        data-category="{{item.category}}"
        data-status="{{item.status}}"
        data-description="{{item.description}}"
        data-date="{{item.due_date}}"
        data-state="{{item.state}}"
        data-id="{{item.id}}"
        data-location="{{item.location}}"
        class="btn-btn-default inline delete-button"
        type="button">
          Delete
      </button>
</div>
