<!-- Empty form to create new item -->
<h3>Edit this goal!</h3>
<form id="edit-item"
  class="edit-item"
  data-title="{{item.data-title}}"
  data-category="{{item.data-category}}"
  data-status="{{item.data-status}}"
  data-description="{{item.data-description}}"
  data-date="{{item.data-date}}"
  data-state="{{item.data-state}}"
  data-id="{{item.data-id}}"
  data-location="{{item.data-location}}">

  <fieldset>
    <p1>Title:<input class="form-control" type="text" name="items[title]" value="{{item.data-title}}" required></p1>
    <p1>Due Date:<input class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  name="items[due_date]" value="{{item.data-date}}" required></p1>
    <p1>Location:<input class="form-control" type="text" name="items[location]" value="{{item.data-location}}" required>
    <p1>Description:<input class="form-control" type="text" name="items[description]" value="{{item.data-description}}" required>
    <p1>Category:<input class="form-control" type="text" name="items[category]" value="{{item.data-category}}" required>
    <p1>Status:<input class="form-control" type="text" name="items[status]" value="{{item.data-status}}" required>
    <button data-id="{{item.id}}" class="glyphicon glyphicon-ok-circle" type="submit" name="Submit"></button>
    <button data-id="{{item.id}}" id="cancel-update" class="glyphicon glyphicon-remove-circle cancel-update" type="button" name="Cancel"></button>
  </fieldset>
</form>
