<div id="state-default-item" class="display-item" data-id="{{item.id}}">
  <h3>Title: {{item.title}}</h3>
  <h4>Due Date: {{item.due_date}}</h4>
  <h4>Location: {{item.location}}</h4>
  <h4>Description: {{item.description}}</h4>
  <h4>Date added: {{item.createdAt}}</h4>
  <!-- <h4>{{item.isPublic}}</h4> -->
  <h4>Category: {{item.category}}</h4>
  <h4>Status: {{item.status}}</h4>
  <!-- When click 'edit' button, goes to state-item-update.handlebars view -->
  <!-- <button data-id="{{item.id}}" class="glyphicon glyphicon-edit" type="button" name="Edit"></button> -->
  <!-- When click 'delete' button, deletes item -->
  <!-- <button data-id="{{item.id}}" class="glyphicon glyphicon-remove" type="button" name="Delete"></button> -->
</div>
