<!-- Empty form to create new item -->
<form id="edit-item" class="edit-item" data-id="{{item.data-id}}">
  <fieldset>
    <input class="form-control" type="text" name="items[title]" placeholder="{{item.data-title}}">
    <input class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  name="items[due_date]" placeholder="{{item.data-date}}">
    <input class="form-control" type="text" name="items[location]" placeholder="{{item.data-location}}">
    <input class="form-control" type="text" name="items[description]" placeholder="{{item.data-description}}">
    <input class="form-control" type="text" name="items[category]" placeholder="{{item.data-category}}">
    <button data-id="{{item.id}}" class="glyphicon glyphicon-ok-circle" type="submit" name="Submit"></button>
    <button data-id="{{item.id}}" class="glyphicon glyphicon-remove-circle" type="button" name="Cancel"></button>
  </fieldset>
</form>
