<h2 id="state-header" class="state-header"></h2>
      <h3 class="userMessage" style="text-align:center;"></h3>
<!-- req.body.item[i].title -->
<div class="row checkbox">
  <div class="col-sm-8" id="item-list">
    {{#each items as |item|}}
      <div class="checkbox-item">
            <span>{{item.title}}</span>
          <button
              data-title="{{item.title}}"
              data-category="{{item.category}}"
              data-status="{{item.status}}"
              data-description="{{item.description}}"
              data-date="{{item.due_date}}"
              data-state="{{item.state}}"
              data-id="{{item.id}}"
              data-location="{{item.location}}"
              class="btn-btn-default inline display-details-button"
              type="button">
                Details
          </button>
          <button
            data-title="{{item.title}}"
            data-category="{{item.category}}"
            data-status="{{item.status}}"
            data-description="{{item.description}}"
            data-date="{{item.due_date}}"
            data-state="{{item.state}}"
            data-id="{{item.id}}"
            data-location="{{item.location}}"
            class="btn-btn-default inline edit-button"
            type="button">
              Edit
          </button>
          <button
            data-title="{{item.title}}"
            data-category="{{item.category}}"
            data-status="{{item.status}}"
            data-description="{{item.description}}"
            data-date="{{item.due_date}}"
            data-state="{{item.state}}"
            data-id="{{item.id}}"
            data-location="{{item.location}}"
            class="btn-btn-default inline delete-button"
            type="button">
              Delete
          </button>
      </div>


    {{/each}}
    <div id="new-item-container" class="new-item-container">
      <!-- Start add-item-to-list.handlebars -->
      <!-- End add-item-to-list.handlebars -->
    </div>
    <button type="button" name="button" id="create-button" class="create-button glyphicon glyphicon-plus"></button>
  </div>

  <div class="col-sm-4">
    <div id="create-item-container" class="create-item-container">
      <!-- Start state-item-create.handlebars -->
      <!-- End state-item-create.handlebars -->

      <!-- Start state-default-item.handlebars -->
      <!-- End state-default-item.handlebars -->

      <!-- Start state-item-update.handlebars -->
      <!-- End state-item-update.handlebars -->
    </div>

  </div>

</div>
<!-- req.body.item[i].description (.) -->

<!-- what partial does: adds a line for each book "I'm a partial that's included in every book iteration ". It's just a handlebars file that's being required by another handlebar file -->
<!-- if you call this partial partiale, then the partial.handlebar file should be called partiale.handlebar -->
