<!-- Empty form to create new item -->
<form id="edit-item"
  class="edit-item"
  data-title="{{item.data-title}}"
  data-category="{{item.data-category}}"
  data-status="{{item.data-status}}"
  data-description="{{item.data-description}}"
  data-date="{{item.data-date}}"
  data-state="{{item.data-state}}"
  data-id="{{item.data-id}}"
  data-location="{{item.data-location}}">

  <fieldset>
    <input class="form-control" type="text" name="items[title]" placeholder="{{item.data-title}}" required>
    <input class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"  name="items[due_date]" placeholder="{{item.data-date}}" required>
    <input class="form-control" type="text" name="items[location]" placeholder="{{item.data-location}}" required>
    <input class="form-control" type="text" name="items[description]" placeholder="{{item.data-description}}" required>
    <input class="form-control" type="text" name="items[category]" placeholder="{{item.data-category}}" required>
    <button data-id="{{item.id}}" class="glyphicon glyphicon-ok-circle" type="submit" name="Submit"></button>
    <button data-id="{{item.id}}" id="cancel-update" class="glyphicon glyphicon-remove-circle cancel-update" type="button" name="Cancel"></button>
  </fieldset>
</form>
